{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block body %}

    <div id="calendrier">

    </div>
{% endblock %}


{% block javascripts %}

    <script>
        window.onload = () => {
            let calendarElt = document.getElementById('calendrier');

            var calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: "fr",
                timeZone: "Europe/Paris",
                headerToolbar : {
                    start : "prev,next,today",
                    center : "title",
                    end : "dayGridMonth,timeGridWeek",
                }
            })

            calendar.updateSize();
            calendar.render();
        };

    </script>
{% endblock %}